<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<title> Homepage </title>
	</head>
	<body>
		<div class="title_bar">Website Title Section<br /> "about" and "contact me" directory</div>
		<div class="nav_bar">Navigation Bar</div>
		<div class="left_cont"></div>
		<div class="right_cont">
			<form method="POST" action=/login>
			    <input type="submit" name="submit" value="Login">
			</form>
			<form method="POST" action=/signup>
				<input type="submit" name="submit1" value="Signup">
	    	</form>

		</div>
	</body>
</html>

